@import "../../../app/globals.scss";

.addButton {
  width: 272px;
  min-height: 51px;
  background-color: $gradient-blue;
  border-radius: 8px;
  border: none;
  margin-bottom: 25px;
}

.smallButton {
  width: 185px;
}
