@import '../../../app/globals.scss';

.taskModal {
  @include modal-styles;  

  @media (min-width: $breakpoint-md) {
    top: 50%;
    transform:translate(-50%, -50%);
    @include modal-styles-lg;
    padding: 32px;    
  }
}

.blurry {
  @include overlay-styles;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
    .firstButton {
      order: 2;
      margin-bottom: 0;
    }

    .secondButton {
      order: 1;
      margin-bottom: 0;
    }
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 32px;

  @media (min-width: $breakpoint-md) {
    width: 100%;      
  }
}

.inputContainer label {
  height: 19px;
}

#newTask {
  @include input-styles;
  margin-top: 8px;

  @media (min-width: $breakpoint-md) {
    @include input-styles-lg;
  }
}

.modalTitleContainer {
  width: 100%;
  margin: 0 0 32px 0;
}

.modalTitleContainer h2 {
  font-size: 24px;
  margin: 0;
}

.modalTitleContainer h4 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}