@import "../../app/globals.scss";

section {
  width: 100%;
  min-height: calc(100% - 186px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $mainContent-width;
  min-height: 428px;
  border: 1px solid $border-color;
  border-radius: 15px;
  margin-bottom: 24px;

  @media (min-width: $breakpoint-md) {
    width: $mainContent-width-lg;  
  }
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 24px 0;

  @media (min-width: $breakpoint-md) {
    margin: 8px 0;    
  }
}

.subText {
  @include text-styles;
  font-size: 16px;
  color: $black-half-opacity;
  margin-top: 32px;
}

.addButton {
  background-color: $gradient-blue;
  border: none;
}
