@import "../../app/globals.scss";

header {
  padding: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#logo {
  width: 150px;
  height: 36px;
  margin-bottom: -2px;
}

.welcome,
.date {
  size: 16px;
  line-height: 19.36px;
  letter-spacing: -2%;
  font-weight: 500;
  margin-bottom: -4px;
}

.date {
  color: #0000008a;
  font-weight: 400;
  margin-bottom: 20px;
}

hr {
  border: none;
  border-top: 1px solid $border-color;
  width: 100%;
}
