@import "../../app/globals.scss";

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 272px;
  height: 90px;
  margin: 24px;  

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 112px);
    height: 60px;
    margin: 24px 0;   
  }
}

#logo {
  width: 150px;
  height: 36px;
}

.welcome,
.date {
  @include text-styles;
  font-weight: 500;
  margin: 0;
  margin-top: 8px;
}

.welcome {
  @media (min-width: $breakpoint-md) {
<<<<<<< HEAD
    margin: 0;
=======
>>>>>>> 297a2727cc8aa7fa779138fd69ed2467b35df744
    font-size: 24px;
  }
}

.date {
  height: 19px;
  color: $black-half-opacity;
  font-weight: 400;

  @media (min-width: $breakpoint-md) {
<<<<<<< HEAD
    margin: 0;    
=======
    margin-bottom: 8px;
>>>>>>> 297a2727cc8aa7fa779138fd69ed2467b35df744
  }
}

hr {
  border: none;
  border-top: 1px solid $hr-color;
  width: 272px;
  margin-top: 0;
  margin-bottom: 24px;
<<<<<<< HEAD

  @media (min-width: $breakpoint-md) {    
    width: calc(100% - 112px);    
  }
=======
>>>>>>> 297a2727cc8aa7fa779138fd69ed2467b35df744
}
