@import "../../app/globals.scss";

header {
  padding: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

#logo {
  width: 150px;
  height: 36px;
}

.welcome,
.date {
  size: 16px;
  line-height: 19.36px;
  letter-spacing: -2%;
  font-weight: 500;
  margin: 8px;
}

.date {
  color: #0000008a;
  font-weight: 400;
  margin-bottom: 20px;
}

hr {
  border: none;
  border-top: 1px solid $border-color;
  width: 100%;
}
