@import '../../../app/globals.scss';

.deleteTaskModal{
  width: 272px;  
}

.insideContainer {
  border: 1px solid blue;
}

.subtitleContainer {
  width: 272px;
  height: 48px;
  @include text-styles;
  height: auto;
  margin-bottom: 24px;
  color: $black-half-opacity;
}