@import "../../../app/globals.scss";

.taskContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: $taskContainer-width;
  height: 24px;
  border: 1px dashed $hr-color;
  border-radius: 8px;
  padding: $taskContainer-padding;
  margin-bottom: 8px;

  @media (min-width: $breakpoint-md) {
    width: $taskContainer-width-lg;
    padding: $taskContainer-padding-lg;
    margin-bottom: 24px;    

    &:hover {
      width: $taskContainer-width-lg + 2px;      
      height: 26px;
      cursor: pointer;
      background-color: $task-hover-color;
      border: none;
    }
  }
}

.taskContainer p {
  @include text-styles;
  margin: 0 16px;
  text-align: start;
  min-width: 112px;
  height: 19px;
}

.taskContainer button,
.buttonImage {
  width: 24px;
  height: 24px;
}

.taskContainer button {
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.completedTask {
  text-decoration: line-through;
  color: $black-half-opacity;  
}

.checkbox {
  min-width: 24px;
  min-height: 24px;
  appearance: none;
  border: 1px solid $hr-color;
  border-radius: 4px;
  position: relative;
}

.checkbox:checked {
  background-color: $light-blue;
  border-color: $sky-blue;
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7.5px;
  width: 5px;
  height: 10px;
  border: solid $sky-blue;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
